.linkButton {
  background-color: #366464;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10%;
}
body{
  font-family: Verdana, sans-serif;
}
h1,h2,h3, p{
  font-family: Verdana, sans-serif;
}
h1,h2{
  color: #213d3d;
}
h1{
  font-size: 4em;
}
h2{
  font-size: 2em;
}
p{
  font-size: 1.5rem;
  color: #514014;
}